* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.top {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none solid rgb(51, 51, 51);
    display: flex;
    height: 683px;
    padding: 0 0 50px 0;
    width: 100%;
}

.top img {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 14px; */
    /* line-height: 21px; */
    text-decoration: none solid rgb(51, 51, 51);
    /* max-width: 100%; */
    height: 633px;
    width: 100%;
    display: block;
}

#topmid {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: left;
    vertical-align: bottom;
    height: 632.936px;
    width: 253.188px;
    display: table-cell;
    z-index: 1;
}

#top2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none solid rgb(51, 51, 51);
    height: 802.725px;
    padding: 0 40px 50px 40px;
    display: flex;
    width: 100%;
}

.top2container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none solid rgb(51, 51, 51);
    height: 752.45px;
    width: 506.388px;
    padding: 0 15px 0 15px;
    /* display: block; */
}

.top2container img {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    height: 649.25px;
    /* width: 476.388px; */
    /* position: absolute; */
    /* display: block; */
    /* z-index: 5; */
}

.top2container p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 10px;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: center;
    height: 34px;
    width: 476.388px;
    /* display: block; */
}

.top2container p span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: center;
    height: auto;
    width: auto;
    /* display: inline; */
}

/* .top2container div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: center;
    height: 40.2px;
    width: 476.488px;
    padding: 8px 0 8px 0;
    display: block;
} */
.innerdiv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: center;
    height: 24.2px;
    width: 476.388px;
    /* display: block; */
}

.innerp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: center;
    height: 17.6px;
    width: 100.162px;
    border-bottom: 2px solid black;
    margin: 0 3px 1px 3px;
    padding: 0 0 2px 0;
    /* display: inline-block; */
}