/* Styles for ProductsPage component */
.products-page {
  padding: 2rem;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* ProductPage styling */
.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  max-width: 1200px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 600px;
}

.filters label {
  display: flex;
  flex-direction: column;
}

.filters select {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}